  #header { grid-area: header; }
  #score { grid-area: score; }
  #userselect { grid-area: userselect; }
  #compselect { grid-area: compselect; }
  #playername1 { grid-area: playername1; }
  #playername2 { grid-area: playername2; }
  #rounds { grid-area: rounds; }
  #ties { grid-area: ties; }
  #playerpoints1 { grid-area: playerpoints1; }
  #playerpoints2 { grid-area: playerpoints2; }
  #roundnumber { grid-area: roundnumber; }
  #tienumber { grid-area: tienumber; }
  #invitation { grid-area: invitation; }
  #restart { grid-area: restart; }
  #choice { grid-area: choice; }
  #result { grid-area: result; }
  
  #grid-container {
    display: grid;
    grid-template-areas:
      'header header header header'
      'invitation invitation invitation invitation'
      'choice choice choice choice'
      'userselect userselect compselect compselect'
      'score score score score'
      'playername1 playername2 ties rounds'
      'playerpoints1 playerpoints2 tienumber roundnumber'
      'result result result result'
      'restart restart restart restart';
    gap: 0px;
    background-color: #2196F3;
    padding: 5px;
    margin-top: 100px;
    grid-template-columns: 25% 25% 25% 25%;
  }
  
  #grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  button {
    background-color: #2196F3;
    height: 100%;
    width: 10%;
    font-size: 18px;
    color: #e5e7eb;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
  }
  :disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }